.about-1{
	padding: 30px 0;
	.description{
		padding: 30px;
		h1.title{
			font-weight: 700;
			font-size: 38px;
		}
		p{
			font-size: 16px;
		}
	}
	.image{
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			width: 1px;
			height: 80%;
			background: #c5c5c5;
			transform:translateY(-50%);
		}
		img{
			width: 100%;
		}
	}
}

.about-2{
	padding: 60px 0;
	background: url('../../images/tembok.jpg') no-repeat;
	background-size: cover;
	background-position: center center;
	h1.title{
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 5px;
		font-weight: 700;
	}
	.content{
		padding: 15px;
		.coin-container{
			width: 100%;
			background: #AE9D7F;
			padding-top: 100%;
			position: relative;
			border-radius: 50%;
			.coin{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content:center;
				align-itmes:center;
				flex-direction:column;
				padding: 15px;
				&:before{
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform:translate(-50%, -50%);
					width: calc(100% - 15px);
					height: calc(100% - 15px);
					border-radius: 50%;
					border: 1px solid #dadada;
				}
				ul{
					list-style: none;
					margin:0;
					padding: 0;
					li{
						text-align: center;
						color: #fff;
						img{
							width: 15%;
						}
						h1.count{
							margin:0;
							padding: 10px 0;
							font-size: 52px;
							line-height: 40px;
							font-weight: 700;
						}
						p{
							text-transform: uppercase;
							font-weight: 600;
							margin:0;
						}
					}
				}
			}
		}
	}
}

.about-3{
	padding: 60px 0;
	background: url('../../images/bg-curves.svg') no-repeat;
	background-position: bottom left;
	background-size: cover;
	.section-1{
		margin-bottom: 60px;
		.image-featured{
			position: relative;
			width: 100%;
			height: 450px;
			padding: 30px 0;
			.main-image{
				height: 100%;
				width: 60%;
				position: absolute;
				top: 30px;
				left: 60%;
				transform:translateX(-50%);
				img{
					height: calc(100% - 60px);
				}
				&:before{
					content: '';
					position: absolute;
					top: -15px;
					left: -15px;
					border: 2px solid #8c8c8c;
					width: calc(100% - 30px);
					height: calc(100% - 30px);
					z-index: -1;
				}
			}
			.second-image{
				position: absolute;
				top: 40%;
				left: 0;
				width: 40%;
				transform:translateY(-50%);
				img{
					width: 100%;
				}
			}
			.third-image{
				position: absolute;
				top: 75%;
				right: 0;
				transform:translateY(-50%);
				width: 30%;
				img{
					width: 100%;
				}
			}
		}
	}
	.section-2{
		margin-bottom: 60px;
		h1.title{
			writing-mode: vertical-rl;
			transform: rotate(-180deg);
			text-transform: uppercase;
			margin:0;
			font-weight: 700;
			letter-spacing: 10px;
			line-height: 40px;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				right: -10px;
				width: 3px;
				height: 30%;
				background: #ADA076;
			}
		}
	}
}