.contact-1{
	padding: 60px 0;
	h1.title{
		text-transform: uppercase;
		font-weight: 700;
	}
	h2.title{
		font-weight: 600;
	}
	ul{
		list-style: none;
		margin:0;
		padding: 0;
		li{
			position: relative;
			i{
				position: absolute;
				top: 13px;
				left: 0;
				color: #AE9D7F;
			}
			a{
				display: block;
				font-weight: 500;
				padding: 10px 10px 10px 25px;
			}
		}
	}
	form{
		.form-control-custom{
			border:none;
			border-radius: 0;
			border-bottom: 1px solid #808080;
			box-shadow: none;
		}
		.btn-custom{
			background: #AE9D81;
			color: #fff;
			padding: 8px 30px;
			text-transform: uppercase;
		}
	}
	.map{
		padding: 60px 0;
		h1.title{
			font-size: 32px;
		}
	}
}