.page-event {
	padding:50px 0px;
	.btn-loadmore {
		margin:50px 0px;
		border-radius:0;
		background-color:rgba(222, 208, 181, 1);
		font-weight:bold;
		text-transform: uppercase;
		padding:15px 30px;
		letter-spacing: .3rem;
	}
	.page-event-content {
		.event-content-item {
			margin-bottom:50px;
			.image {
				position:relative;
				.date {
					position:absolute;
					display:block;
					background-color:#ac9f7d;
					color:#fff;
					padding:5px 15px;
					text-transform:uppercase;
					font-weight:bold;
					bottom:0;
					left:0;
					transform:rotate(-90deg);
					transform-origin: left center;
				}
			}
			.info {
				.title {
					font-size:1.5rem;
					font-weight:bold;
					line-height: 1;
				}
				.description {
					font-size:.8rem;
				}
				a {
					&:hover {
						.title {
							color:#ae9d7f;
						}
					}
				}
			}
		}
		>.row {
			&:nth-child(even){
				.event-content-item {
					>.row {
						-webkit-flex-direction: row-reverse; 
						flex-direction: row-reverse;
					}
				}
			}
		}
	}
}
.page-event-detail {
	padding:50px 0px;
	.image {
		position:relative;
		.date {
			position:absolute;
			display:block;
			background-color:#ac9f7d;
			color:#fff;
			padding:5px 15px;
			text-transform:uppercase;
			font-weight:bold;
			bottom:0;
			left:0;
			transform:rotate(-90deg);
			transform-origin: left center;
		}
	}
	.info {
		.title {
			font-size:2rem;
			font-weight:bold;
			line-height: 1;
		}
		.table-detail {
			margin:30px 0px;
			font-size:1rem;
			tr {
				td {
					padding:0;
					&:first-child {
						width:150px;
					}
					&:nth-child(2){
						width:5px;
					}
				}
			}

		}
		.description {
			font-size:1rem;
		}
	}
}