.slider{
	position: relative;
	.slideshow{
		padding:0;
		margin:0;
		list-style: none;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
			width: 40%;
			height: 100%;
			background-image: url('../../images/splash-header.png');
			background-repeat: no-repeat;
			background-position: top right;
			background-size: 100%;
		}
		.image-slide{
			width: 100%;
			height: 100vh;
			background-size: cover;
			background-position: center center;
			&:before{
				content: '';
				position: absolute;
				top:0;
				left: 0; 
				width: 100%;
				height: 50%;
				background: linear-gradient(to bottom, rgba(255,255,255,.8) 0%, rgba(255,255,255,0) 50%);
			}
			&:after{
				content: '';
				position: absolute;
				bottom:0;
				left: 0; 
				width: 100%;
				height: 50%;
				background: linear-gradient(to top, rgba(255,255,255,.8) 0%, rgba(255,255,255,0) 50%);
			}
		}
		.owl-nav{
			margin:0;
			.owl-prev{
				position: absolute;
				top: 0;
				left: 0;
				z-index: 3;
				width: 15%;
				height: 100vh;
				margin:0;
				cursor: url("../../images/prev1.png"), auto;
				outline: none;

			}
			.owl-next{
				position: absolute;
				top: 0;
				right: 0;
				z-index: 3;
				width: 15%;
				height: 100vh;
				margin:0;
				cursor: url("../../images/next1.png"), auto;
				outline: none;
			}
			.owl-prev,.owl-next{
				&:hover{
					background: transparent;
				}
				span{
					display: none;
				}
			}
		}
	}
}

.home-store {
	position:relative;
	width:100%;
	padding:0px;
	background-image:url('../../images/bg-curves.svg');
	background-size:auto 100%;
	background-repeat:no-repeat;
	background-position:bottom left;
	&:before {
		position:absolute;
		display:block;
		width:100%;
		height:200px;
		content:"";
		bottom:calc(100% - 100px);
		z-index:2;
		background: rgba(248,248,248,0);
		background: linear-gradient(to bottom, rgba(248,248,248,0) 0%, rgba(248,248,248,0.8) 25%, rgba(248,248,248,1) 50%, rgba(248,248,248,0.8) 75%, rgba(248,248,248,0) 100%);
		background: -moz-linear-gradient(top, rgba(248,248,248,0) 0%, rgba(248,248,248,0.8) 25%, rgba(248,248,248,1) 50%, rgba(248,248,248,0.8) 75%, rgba(248,248,248,0) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,248,248,0)), color-stop(25%, rgba(248,248,248,0.8)), color-stop(50%, rgba(248,248,248,1)), color-stop(75%, rgba(248,248,248,0.8)), color-stop(100%, rgba(248,248,248,0)));
		background: -webkit-linear-gradient(top, rgba(248,248,248,0) 0%, rgba(248,248,248,0.8) 25%, rgba(248,248,248,1) 50%, rgba(248,248,248,0.8) 75%, rgba(248,248,248,0) 100%);
		background: -o-linear-gradient(top, rgba(248,248,248,0) 0%, rgba(248,248,248,0.8) 25%, rgba(248,248,248,1) 50%, rgba(248,248,248,0.8) 75%, rgba(248,248,248,0) 100%);
		background: -ms-linear-gradient(top, rgba(248,248,248,0) 0%, rgba(248,248,248,0.8) 25%, rgba(248,248,248,1) 50%, rgba(248,248,248,0.8) 75%, rgba(248,248,248,0) 100%);
	}
	.home-store-heading {
		position:relative;
		width:100%;
		z-index:2;
		margin-bottom:15px;
		.home-store-title {
			color:#000000;
			font-family: 'Montserrat', sans-serif;
			font-weight: bold;
			font-size:3.2rem;
			letter-spacing:0;
			line-height:1;
			top:-3.5rem;
			right:0;
			margin:0;

			&:before {
				position:absolute;
				content:"";
				width:100px;
				height:10px;
				background-color:#ac825a;
				top:-15px;
			}
		}
	}
	.home-store-content {
		position:relative;
		width:100%;
		z-index:2;
		.home-store-content-item {
			font-family: 'Montserrat', sans-serif;
			border-color:transparent;
			.item-title {
				color:#ac825a;
				font-weight: bold;
				font-size:2rem;
			}
			.item-link {
				border:4px solid rgba(172,130,90,.5);
				border-radius:0;
				text-transform:uppercase;
				padding:5px 15px;
				letter-spacing: .2rem;
				font-weight:bold;
				font-size:.8rem;
				&:hover {
					border-color:rgba(172,130,90,1);
				}
			}
		}
	}
	.home-store-image {
		position:relative;
		width:100%;
		.frame {
			position:relative;
			width:100%;
			height:100%;
		}
	}
	.home-store-dots {
		margin:15px 0px;
		span {
			width:15px;
			height:15px;
			border-radius:50%;
			background-color:#dddddd;
			cursor:pointer;
			&.active {
				background-color:#ac825a;
			}
		}
		span+span {
			margin-left:20px;
		}
	}
}

.our-menu{
	position: relative;
	height: 70vh;
	width: 100%;
	background: url(../../images/tembok.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	h1.title{
		position: absolute;
		left: 60%;
		top: -8%;
		z-index: 2;
		font-weight: 700;
		font-size: 48px;
		letter-spacing: 5px;
		padding: 10px 0 0 0;
		margin:0;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 15%;
			height: 4px;
			background: #A28556;
		}
	}
	.nav-pills{
		flex-direction: column;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 150px;
		transform:translate(-50%,-50%);
		z-index: 2;
		.nav-item{
			.nav-link{
				border: 3px solid #DFCFB5;
				border-radius: 0;
				text-align: center;
				text-transform: uppercase;
				font-weight: 600;
				letter-spacing: 2px;
				&.active{
					background-color: #DFCFB5;
					color: #000;
				}
				&:hover{
					border-color: #a28556;
					background-color: #614a26;
					color: #fff;
					transition: .5s ease all;
				}
			}
			&:nth-child(1){
				.nav-link{
					margin-bottom: 10px;
				}
			}
		}
	}
	.tab-pane{
		.menu-slide{
			.row{
				min-height: 70vh;
				height: 100%;
				margin: 0;
				.photo{
					background-size: cover;
					background-position: center center;
					background-repeat: no-repeat;
				}
				.text{
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					align-content: stretch;
					background: transparent;
					.description{
						padding: 60px 120px;
						h1{
							color: #A28556;
							text-transform: uppercase;
							font-weight: 700;
							font-size: 32px;
							&:hover{
								color: #755f3c;
								transition:.5s ease all;
							}
						}
						p{
							font-size: 14px;
							margin:0;
						}
					}
				}
			}
			.owl-nav{
				.owl-prev{
					position: absolute;
					top: 50%;
					left: -15px;
					transform:translateY(-50%);
					width: 50px;
					height: 50px;
					background: #fff;
					border-radius: 50%;
					margin:0;
					outline: none;
					span{
						background: #8C846F;
						clip-path: polygon(0 40%, 80% 40%, 80% 20%, 100% 50%, 80% 80%, 80% 60%, 0 60%);
						width: 50px;
						height: 18px;
						position: absolute;
						top: 50%;
						left: 30px;
						transform:translateY(-50%) scaleX(-1);
						color: #8C846F;
						animation: 1s rightleftback forwards;
					}
					&:hover{
						span{
							animation: 1s rightleft forwards;
						}
					}
				}
				.owl-next{
					position: absolute;
					top: 50%;
					right: -15px;
					transform:translateY(-50%);
					width: 50px;
					height: 50px;
					background: #fff;
					border-radius: 50%;
					margin:0;
					outline: none;
					span{
						background: #8C846F;
						clip-path: polygon(0 40%, 80% 40%, 80% 20%, 100% 50%, 80% 80%, 80% 60%, 0 60%);
						width: 50px;
						height: 18px;
						position: absolute;
						top: 50%;
						right: 30px;
						transform:translateY(-50%);
						color: #8C846F;
						animation: 1s leftrightback forwards;
					}
					&:hover{
						span{
							animation: 1s leftright forwards;
						}
					}
				}
			}
		}
	}
}

.our-event{
	position: relative;
	height: 100%;
	width: 100%;
	background: url('../../images/bg-belakang-event.png') no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 100px 0;
	h1.title{
		writing-mode: vertical-rl;
		transform: rotate(-180deg);
		margin:0;
		font-weight: 700;
		letter-spacing: 10px;
		line-height: 40px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: -10px;
			width: 3px;
			height: 30%;
			background: #ADA076;
		}
	}
	.image-event{
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
		display: block;
		overflow: hidden;
		img{
			transition: .5s ease all;
			&:hover{
				transform:scale(1.1) rotate(5deg);
				transition: .5s ease all;
			}
		}
	}
}

@keyframes rightleft{
	from{
		left: 30px;
	}
	to{
		left: 15px;
	}
}

@keyframes rightleftback{
	from{
		left: 15px;
	}
	to{
		left: 30px;
	}
}

@keyframes leftright{
	from{
		right: 30px;
	}
	to{
		right: 15px;
	}
}

@keyframes leftrightback{
	from{
		right: 15px;
	}
	to{
		right: 30px;
	}
}

@keyframes updown{
	from{
		bottom: 15px;
	}
	to{
		bottom: 0;
	}
}