// bower:scss
@import "bower_components/components-font-awesome/scss/fontawesome.scss";
@import "bower_components/select2/src/scss/core.scss";
// endbower
@import "bower_components/bootstrap/scss/bootstrap.scss";

@import "nav.scss";
@import "home.scss";
@import "menu.scss";
@import "promo.scss";
@import "event.scss";
@import "about.scss";
@import "contact.scss";
@import "store.scss";

@import "responsive.scss";
@import "responsive-home.scss";
@import "responsive-about.scss";
@import "responsive-contact.scss";
@import "responsive-event.scss";
@import "responsive-menu.scss";
@import "responsive-promo.scss";
@import "responsive-store.scss";

//Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

body{
    cursor: context-menu;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    main{
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        position: relative;
    }
    .nicescroll-rails-vr .nicescroll-cursors {
        background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(223,207,181,1) 100%);
    }
    &.overflow-y-hidden{
        overflow: hidden !important;
    }
}

a{
    color: inherit;
    text-decoration: none;
    &:hover{
        text-decoration: none;
        color: rgb(68, 156, 216);
    }
    &:visited{
        text-decoration: none;
        color: inherit; 
    }
    &:link{
        text-decoration: none;
        color: inherit; 
    }
    &:active{
        text-decoration: none;
        color: inherit; 
    }
}

nav.pagging{
    ul.pagination{
        .page-item{
            &:first-child(){
                .page-link{
                    border-radius: 0;
                }
            }
            &:last-child(){
                .page-link{
                    border-radius: 0;
                }
            }
            .page-link{
                display: flex;
                min-width: 40px;
                height: 35px;
                justify-content:center;
                align-items:center;
                border: 1px solid rgba(#000,.24);
                background: #fff;
                color: #000;
                padding: 0 5px;
                font-size: 13px;
                line-height: 13px;
                background: #fff;
                outline: none !important;
                box-shadow: none !important;
                &:hover{
                    background: #bd2844;
                    color: #fff;
                    border-color: transparent; 
                }
            }
            &.active{
                .page-link{
                    background: #675583;
                    color: #fff;
                    border-color: transparent;
                }
            }
        }
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    .col-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        .logo{
            width: 100px;
            height: auto;
            margin: 15px;
        }
        .menu{
            ul{
                list-style: none;
                display: block;
                padding: 0;
                margin: 0;
                color: #000;
                font-size: 14px;
                li{
                    padding:0;
                    float: left;
                    position: relative;
                    z-index: 0;
                    a{
                        padding: 8px 10px;
                        display: block;
                        text-transform: uppercase;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 700;
                        &:before{
                            position: absolute;
                            content: '';
                            bottom: 0;
                            left: 50%;
                            width: 0%;
                            height: 100%;
                            transform:translateX(-50%);
                            border-bottom: 2px solid #8C8276;
                            visibility: hidden;
                            z-index: -1;
                            transition: .5s ease all;
                        }
                    }
                    ul{
                        display: none;
                        position: absolute;
                        background: #000;
                        color: #fff;
                        left: 0;
                        top: 100%;
                        width: 100%;
                        min-width:180px;
                        border:1px solid #000;
                        li{
                            float: none;
                            a{
                                padding: 8px 18px 8px 10px;
                                display: block;
                                text-transform: uppercase;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 700;
                                &:before{
                                    position: absolute;
                                    content: '';
                                    bottom: 0;
                                    left: 50%;
                                    width: 100%;
                                    height: 100%;
                                    transform:translateX(-50%);
                                    border-bottom: 2px solid #8C8276;
                                    visibility: visible;
                                    z-index: -1;
                                }
                            }
                            ul{
                                position: absolute;
                                left: 100%;
                                top: -1px;
                                border-radius: 0 5px 0 0;
                                border:none;
                                li{
                                    float: none;
                                    display: none;
                                }
                            }
                            &:hover{
                                background-color: #fff;
                                color: #000;
                                ul{
                                    li{
                                        border-radius: 0 5px 0 0;
                                        display: block;
                                        border:1px solid #000;
                                        &:hover{
                                            border-radius: 0;
                                            &:nth-child(1){
                                                border-radius: 0 5px 0 0;
                                            }
                                        }
                                    }
                                }
                            }
                            &.child{
                                &:before{
                                    content: '\f105';
                                    font-family: 'Font Awesome 5 Free';
                                    font-weight: bold;
                                    position: absolute;
                                    top: 50%;
                                    right: 10px;
                                    transform:translateY(-50%);
                                }
                            }
                        }
                    }
                    &.active{
                        a{
                            &:before{
                                position: absolute;
                                content: '';
                                bottom: 0;
                                left: 50%;
                                width: 60%;
                                height: 100%;
                                transform:translateX(-50%);
                                border-bottom: 2px solid #8C8276;
                                visibility: visible;
                                z-index: -1;
                            }
                        }
                    }
                    &:hover{
                        color: #000;
                        a{
                            &:before{
                                width: 60%;
                                visibility: visible;
                                z-index: -1;
                                transition: .5s ease all;
                            }
                        }
                        ul{
                            display: block;
                            z-index: 2;
                            li{
                                a{
                                    &:before{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.active-head{
        .col-menu{
            .logo{
                z-index: 3;
                position: relative;
            }
            .menu{
                width: calc(100% - 130px);
                transition: width .5s;
                &:before{
                    width: 100%;
                    transition: width 1s;
                    transition-delay : .5s;
                }
                ul{
                    height: calc(100vh - 150px);
                    overflow-y: auto;
                    li{
                        &.child{
                            &:before{
                                content: '\f067';
                                font-family: 'Font Awesome 5 Free';
                                font-weight: bold;
                                position: absolute;
                                top: 10px;
                                right: 30px;
                            }
                            ul{
                                display: none;
                            }
                            &.changed{
                                &:before{
                                    content: '\f068';
                                    font-family: 'Font Awesome 5 Free';
                                    font-weight: bold;
                                    position: absolute;
                                    top: 10px;
                                    right: 30px;
                                }
                                ul{
                                    height: 100%;
                                }
                            }
                        }
                        ul{
                            li{
                                &.child2{
                                    &:before{
                                        content: '\f067';
                                        font-family: 'Font Awesome 5 Free';
                                        font-weight: bold;
                                        position: absolute;
                                        top: 10px;
                                        right: 30px;
                                    }
                                    &.changed{
                                        &:before{
                                            content: '\f068';
                                            font-family: 'Font Awesome 5 Free';
                                            font-weight: bold;
                                            position: absolute;
                                            top: 10px;
                                            right: 30px;
                                        }
                                    }
                                    ul{
                                        &.active-child{
                                            li{
                                                display: block;
                                                a{
                                                    padding:  10px 30px 10px 60px;
                                                    width:100%;
                                                    height: 100%;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .col-menu-mobile{
            .cage-nav{
                &:before{
                    content:'CLOSE';
                    color: #fff;
                }
                .navTrigger{
                    i{
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

section.pre-header{
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    &:before{
        content: '';
        position: absolute;
        top:0;
        left: 0; 
        width: 100%;
        height: 50%;
        background: linear-gradient(to bottom, rgba(255,255,255,.8) 0%, rgba(255,255,255,0) 50%);
    }
    &:after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        width: 30%;
        height: 100%;
        background-image: url('../../images/splash-header.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 100%;
    }
    .container{
        position: relative;
        height: 100%;
        h1.title{
            position: absolute;
            bottom: 0;
            left: 30px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            margin:0;
            font-size: 64px;
            line-height: 46px;
            &:before{
                content: '';
                position: absolute;
                top: -10px;
                left: 0;
                width: 18%;
                height: 5px;
                background: #A29979;
            }
        }
    }
}

footer{
    background: url('../../images/patternfoot.jpg');
    background-size: 130px 130px;
    padding: 20px 0;
    .left-info{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        margin-top: -50%;
        img{
            width: 100%;
        }
        ul{
            list-style: none;
            margin:0;
            padding: 0;
            li{
                color: #fff;
                a{
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }
    }
    .mid-info{
        text-align: center;
        color: #fff;
        .socmed{
            display: flex;
            justify-content:center;
            align-items:center;
            margin-bottom: 15px;
            a{
                padding: 3px;
                i{
                    border: 2px solid #fff;
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content:center;
                    align-items:center;
                }
            }
        }
        .copyright{
            font-weight: 600;
        }
    }
    .app-download{
        a{
            display: block;
            img{
                max-width: 130px;
            }
            &:nth-child(1){
                margin-bottom: 10px;
            }
        }
    }
}