.page-menu {
	padding:30px 0px;
	.page-menu-filter {
		.categories {
			.owl-stage-outer {
				padding:0px 15px;
				&:before,
				&:after {
					position:absolute;
					width:15px;
					display:block;
					content:"";
					height:100%;
					top:0;
					z-index:2;
				}
				&:before {
					left:0px;
					background: rgba(255,255,255,1);
					background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
					background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
					background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
					background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
					background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
					background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );

				}
				&:after {
					right:0px;
					background: rgba(255,255,255,0);
					background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
					background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
					background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
					background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
					background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
					background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );

				}
			}
			a {
				display:block;
				font-size:1rem;
				font-weight:bold;
				line-height: 1.5;
				height:calc(1.5em + 0.75rem + 2px);
				padding:0.375rem 0.75rem 0.375rem 0.075rem;
				cursor:pointer;
				color: #6c757d;
				&.active {
					color:#a88357;
					border-bottom:2px solid #a88357;
				}
			}
		}
		.form-search {
			border-bottom:1px solid #6c757d;
			font-weight:bold;
			margin-bottom:1rem;
			.form-control,
			.input-group-btn {
				border-radius:0;
				border-color:transparent;
				background-color:transparent;
			}
			.form-control,
			.btn {
				color:#6c757d;
				padding-right:0px;
				&:focus {
					box-shadow: none;
				}
			}
			.form-control {
				padding-left:0px;
				&::placeholder {
					color:#aaa;
				}
			}
		}
	}
	.page-menu-content {
		.menu-item {
			position:relative;
			.image {
				position:absolute;
				height:100%;
				background-color:#000;
				background-size:cover;
				background-position: center center;
				background-repeat: no-repeat;
			}
			.detail {
				background-image:url('../../images/tembok.jpg');
				background-size:cover;
				background-repeat: no-repeat;
				padding: 40px 100px ;
				.title {
					color:#ac825a;
					font-weight: bold;
					font-size:3rem;
					text-transform:uppercase;
				}
				.description {
					line-height:2;
				}
				.price {
					display:inline-block;
					border:3px solid rgba(172,130,90,.5);
					border-radius:0;
					text-transform:uppercase;
					padding:10px 30px;
					letter-spacing: .2rem;
					font-weight:bold;
					font-size:1.2rem;
				}
			}
			&:nth-child(odd){
				justify-content:flex-end;
				.image {
					left:0;
				}
				.detail {
					text-align: left;
				}
			}
			&:nth-child(even){
				justify-content:flex-start;
				.image {
					right:0;
				}
				.detail {
					text-align: right;
				}
			}
		}
	}
	.btn-loadmore {
		margin:50px 0px;
		border-radius:0;
		background-color:rgba(222, 208, 181, 1);
		font-weight:bold;
		text-transform: uppercase;
		padding:15px 30px;
		letter-spacing: .3rem;
	}
}