.page-promo {
	padding:50px 0px;
	.btn-loadmore {
		margin:50px 0px;
		border-radius:0;
		background-color:rgba(222, 208, 181, 1);
		font-weight:bold;
		text-transform: uppercase;
		padding:15px 30px;
		letter-spacing: .3rem;
	}

	.page-promo-content {
		.page-promo-item {
			display:block;
			width:100%;
			margin-bottom:30px;
			-webkit-box-shadow: 0px 5px 10px 0px rgba(110,110,110,0.43);
			-moz-box-shadow: 0px 5px 10px 0px rgba(110,110,110,0.43);
			box-shadow: 0px 5px 10px 0px rgba(110,110,110,0.43);
			.date {
				position:absolute;
				display:block;
				background-color:#ac9f7d;
				color:#fff;
				padding:5px 15px;
				text-transform:uppercase;
				font-weight:bold;
				top:-20px;
				right:0px;
				transform:rotate(-90deg);
				transform-origin: right bottom;
			}
			.title, 
			.description {
				display:none;
			}
		}
	}
}
.lg-backdrop.in {
	background-color:#000;
	opacity:.9;
}
.promo-detail {
	.lg-item.lg-complete {
		.lg-object {
			display:none;
		}
	}
	.lg-sub-html {
		position:absolute;
		width:calc(100% - 160px);
		height:calc(100% - 100px);
		bottom:auto;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
		background-color: transparent;
		padding:0;
		.promo-detail-content {
			display:block;
			position:fixed;
			width:75%;
			height:100%;
			right:0;
			padding:50px 100px 50px calc(20% + 50px);
			background-image:url('../../images/tembok.jpg');
			background-size:cover;
			background-repeat:no-repeat;
			color:#000;
			text-align:left;
			.poster {
				position:absolute;
				width:50%;
				left:0;
				top:50%;
				transform:translate(-50%,-50%);
				.date {
					position:absolute;
					display:block;
					background-color:#ac9f7d;
					color:#fff;
					padding:5px 15px;
					text-transform:uppercase;
					font-weight:bold;
					bottom:20px;
					left:20px;
					transform:rotate(-90deg);
					transform-origin: left bottom;
				}
			}
		}
	}
	.lg-toolbar {
		background-color:transparent;
		> span {
			display:none;
		}
		.lg-close {
			display:block;
		}
	}
}