
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    body{
        main{
            .page-menu{
                .page-menu-content{
                    .menu-item{
                        .image{
                            height: 300px;
                            position: relative;
                        }
                        .detail{
                            padding: 15px;
                            h3.title{
                                font-size: 28px;
                            }
                            p.description{
                                font-size: 14px;
                            }
                            span.price{
                                padding: 5px 15px;
                                font-size: 18px;
                            }
                        }
                    }   
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        main{
            .page-menu{
                .page-menu-content{
                    .menu-item{
                        .image{
                            min-height: 300px;
                        }
                        .detail{
                            padding: 15px;
                            h3.title{
                                font-size: 28px;
                            }
                            p.description{
                                font-size: 14px;
                            }
                            span.price{
                                padding: 5px 15px;
                                font-size: 18px;
                            }
                        }
                    }   
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        main{
            .page-menu{
                .page-menu-content{
                    .menu-item{
                        .image{
                            min-height: 300px;
                        }
                        .detail{
                            padding: 15px;
                            h3.title{
                                font-size: 28px;
                            }
                            p.description{
                                font-size: 14px;
                            }
                            span.price{
                                padding: 5px 15px;
                                font-size: 18px;
                            }
                        }
                    }   
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    body{
        main{

        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    body{
        main{

        }
    }
}