
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    body{
        main{
            .page-promo{
                padding-top: 80px;
                .page-promo-content{
                    .page-promo-item{
                        margin-bottom: 80px;
                        .date{
                            top: -34px;
                            right: 15px;
                            transform:rotate(0);
                            width: calc(100% - 30px);
                            text-align: center;
                        }
                    }
                }
            }
        }
        .promo-detail{
            .lg-actions{
                .lg-prev{
                    left: 10px;
                }
                .lg-next{
                    right: 10px;
                }
            }
            .lg-sub-html{
                width: calc(100% - 110px);
                .promo-detail-content{
                    width: 100%;
                    padding: 0;
                    .poster{
                        top: 15px;
                        left: 50%;
                        transform:translateX(-50%);
                        width: 80%;
                        .date{
                            transform:rotate(0);
                            font-size: 14px;
                            width: 100%;
                            left: 0;
                            bottom: -34px;
                            height: 34px;
                            text-align: center;
                        }
                    }
                    .title{
                        position: absolute;
                        bottom: 265px;
                        left: 0;
                        width: 100%;
                        padding: 0 15px;
                        margin:0;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    .description{
                        position: absolute;
                        bottom: 15px;
                        left: 0;
                        width: 100%;
                        padding: 15px;
                        font-size: 12px;
                        height: 250px;
                        overflow-y: auto;
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        .promo-detail{
            .lg-sub-html{
                .promo-detail-content{
                    width: 75%;
                    padding-left: 23%;
                    padding-right: 15px;
                    .title{

                    }
                    .description{
                        font-size: 14px;
                        max-height: 350px;
                        overflow-y: auto;
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        .promo-detail{
            .lg-sub-html{
                .promo-detail-content{
                    width: 75%;
                    padding-left: 23%;
                    padding-right: 15px;
                    .title{

                    }
                    .description{
                        font-size: 14px;
                        max-height: 350px;
                        overflow-y: auto;
                    }
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    body{
        main{

        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    body{
        main{

        }
    }
}