
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    body{
        main{
            .page-event{
                .page-event-content{
                    .event-content-item{
                        .image{
                            margin-bottom: 50px;
                            .date{
                                bottom: -34px;
                                left: auto;
                                right: 0;
                                transform:rotate(0);
                                width: 100%;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .page-event-detail{
                .image{
                    margin-bottom: 50px;
                    .date{
                        transform:rotate(0);
                        bottom: -34px;
                        width: 100%;
                    }
                }
                .info{
                    .title{
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        main{

        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        main{

        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    body{
        main{

        }
    }
}