
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    body{
        main{
            .about-1{
                .description{
                    h1.title{
                        font-size: 24px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                .image{
                    display: flex;
                    justify-content:center;
                    img{
                        width: 50%;
                    }
                }
            }
            .about-2{
                .content{
                    .coin-container{
                        .coin{
                            ul{
                                li{
                                    h1.count{
                                        font-size: 32px;
                                        line-height: 24px;
                                        padding: 5px 0;
                                    }
                                    p{
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .about-3{
                .section-1{
                    .image-featured{
                        height: 350px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                .section-2{
                    h1.title{
                        writing-mode:horizontal-tb;
                        transform:rotate(0deg);
                        margin-bottom: 20px;
                        &:before{
                            height: 5px;
                            width: 30%;
                            top: -10px;
                            right: auto;
                            left: 0;
                        }
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        main{
            .about-1{
                .description{
                    h1.title{
                        font-size: 24px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                .image{
                    display: flex;
                    align-items:center;
                }
            }
            .about-2{
                .content{
                    .coin-container{
                        .coin{
                            ul{
                                li{
                                    img{
                                        width: 25%;
                                    }
                                    h1.count{
                                        font-size: 32px;
                                        line-height: 24px;
                                        padding: 5px 0;
                                    }
                                    p{
                                        font-size: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .about-3{
                .section-1{
                    .image-featured{
                        height: 290px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
                .section-2{
                    h1.title{
                        font-size: 26px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        main{
            .about-1{
                .image{
                    display: flex;
                    align-items:center;
                }
            }
            .about-3{
                .section-1{
                    .image-featured{
                        height: 350px;
                    }
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    body{
        main{
            .about-3{
                .section-1{
                    .image-featured{
                        .main-image{
                            &:before{
                                width: calc(100% - 60px);
                            }
                            img{
                                position: absolute;
                                top: 0;
                                right: 10%;
                            }
                        }
                        .second-image{
                            left: 5%;
                            top: 45%;
                        }
                        .third-image{
                            top: 70%;
                        }
                    }
                }
            }
        }
    }
}