
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    body{
        main{
            header{
                .col-menu{
                    .logo{
                        width: 70px;
                    }
                    .menu{
                        width: 0;
                        height: 100vh;
                        position: fixed;
                        top: 0;
                        right: 0;
                        background: #000;
                        transition: width 1s;
                        transition-delay: .5s;
                        padding-top: 100px;
                        &:before{
                            content: '';
                            position: absolute;
                            right: 100%;
                            top: 0;
                            background: rgba(#fff,.9);
                            width: 0;
                            height: 100%;
                            transition: .5s;
                        }
                        ul{
                            li{
                                color: #fff;
                                float: none;
                                text-align: left;
                                letter-spacing: 1px;
                                a{
                                    padding: 10px 40px 10px 30px;
                                }
                                &.active{
                                    a{
                                        &:before{
                                            display: none;
                                        }
                                    }
                                }
                                ul{
                                    position: static;
                                    display: none;
                                    li{
                                        a{
                                            padding: 10px 40px;
                                            &:before{
                                                display: none;
                                            }
                                        }
                                        &.child{
                                            &:before{
                                                display: none;
                                            }
                                        }
                                        &:hover{
                                            background: #000;
                                            color: #fff;
                                            a{
                                                &:before{
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                    &.active{
                                        display: block !important;
                                        height: 100%;
                                    }
                                    ul{
                                        position: static;
                                        display: none;
                                        li{
                                            a{
                                                padding: 10px 40px;
                                                &:before{
                                                    display: none;
                                                }
                                            }
                                        }
                                        &.active{
                                            display: block !important;
                                            height: 100%;
                                        }
                                    }
                                }
                                &:hover{
                                    color: #fff;
                                    a{
                                        &:before{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .slider{
                .slideshow{
                    &:before{
                        display: none;
                    }
                    .image-slide{
                        height: 50vh;
                    }
                }
            }
            .home-store{
                margin-bottom: 50px;
            }
            .our-menu{
                min-height: 80vh;
                height: 100%;
                margin-top: 180px;
                h1.title{
                    left: 0;
                    top: -119px;
                    text-align: left;
                    font-size: 42px;
                    width: 100%;
                    padding: 5px 15px;
                    &:before{
                        width: 30%;
                        top: -11px;
                        left: 15px;
                        height: 8px;
                    }
                }
                .nav-pills{
                    flex-direction: row;
                    width: 100%;
                    justify-content: start;
                    top: -60px;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 0 15px;
                    .nav-item{
                        &:nth-child(1){
                            .nav-link{
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
                .tab-pane{
                    .menu-slide{
                        .row{
                            .photo{
                                height: 40vh;
                            }
                            .text{
                                min-height: 40vh;
                                height: 100%;
                                .description{
                                    padding: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .our-event{
                padding: 60px 0 130px 0;
                h1.title{
                    writing-mode:horizontal-tb;
                    transform:rotate(0deg);
                    margin-bottom: 20px;
                    font-size: 42px;
                    &:before{
                        height: 8px;
                        width: 30%;
                        top: -18px;
                        right: auto;
                        left: 0;
                    }
                }
                .image-event{
                    margin-bottom: 30px;
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        main{
            header{
                .col-menu{
                    .logo{
                        width: 70px;
                    }
                    .menu{
                        width: 0;
                        height: 100vh;
                        position: fixed;
                        top: 0;
                        right: 0;
                        background: #000;
                        transition: width 1s;
                        transition-delay: .5s;
                        padding-top: 100px;
                        &:before{
                            content: '';
                            position: absolute;
                            right: 100%;
                            top: 0;
                            background: rgba(#fff,.9);
                            width: 0;
                            height: 100%;
                            transition: .5s;
                        }
                        ul{
                            li{
                                color: #fff;
                                float: none;
                                text-align: left;
                                letter-spacing: 1px;
                                a{
                                    padding: 10px 40px 10px 30px;
                                }
                                &.active{
                                    a{
                                        &:before{
                                            display: none;
                                        }
                                    }
                                }
                                ul{
                                    position: static;
                                    display: none;
                                    li{
                                        a{
                                            padding: 10px 40px;
                                            &:before{
                                                display: none;
                                            }
                                        }
                                        &.child{
                                            &:before{
                                                display: none;
                                            }
                                        }
                                        &:hover{
                                            background: #000;
                                            color: #fff;
                                            a{
                                                &:before{
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                    &.active{
                                        display: block !important;
                                        height: 100%;
                                    }
                                    ul{
                                        position: static;
                                        display: none;
                                        li{
                                            a{
                                                padding: 10px 40px;
                                                &:before{
                                                    display: none;
                                                }
                                            }
                                        }
                                        &.active{
                                            display: block !important;
                                            height: 100%;
                                        }
                                    }
                                }
                                &:hover{
                                    color: #fff;
                                    a{
                                        &:before{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .slider{
                .slideshow{
                    &:before{
                        display: none;
                    }
                    .image-slide{
                        height: 50vh;
                    }
                }
            }
            .home-store{
                margin-bottom: 50px;
            }
            .our-menu{
                h1.title{
                    width: 400px;
                    left: calc(50% + 10px);
                    top: -30px;
                    font-size: 32px;
                }
                .tab-pane{
                    .menu-slide{
                        .row{
                            .text{
                                .description{
                                    padding: 0px 70px;
                                    text-align: center;
                                    p{
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .our-event{
                h1.title{
                    font-size: 18px;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        main{
            header{
                .col-menu{
                    .logo{
                        width: 70px;
                    }
                    .menu{
                        width: 0;
                        height: 100vh;
                        position: fixed;
                        top: 0;
                        right: 0;
                        background: #000;
                        transition: width 1s;
                        transition-delay: .5s;
                        padding-top: 100px;
                        &:before{
                            content: '';
                            position: absolute;
                            right: 100%;
                            top: 0;
                            background: rgba(#fff,.9);
                            width: 0;
                            height: 100%;
                            transition: .5s;
                        }
                        ul{
                            li{
                                color: #fff;
                                float: none;
                                text-align: left;
                                letter-spacing: 1px;
                                a{
                                    padding: 10px 40px 10px 30px;
                                }
                                &.active{
                                    a{
                                        &:before{
                                            display: none;
                                        }
                                    }
                                }
                                ul{
                                    position: static;
                                    display: none;
                                    li{
                                        a{
                                            padding: 10px 40px;
                                            &:before{
                                                display: none;
                                            }
                                        }
                                        &.child{
                                            &:before{
                                                display: none;
                                            }
                                        }
                                        &:hover{
                                            background: #000;
                                            color: #fff;
                                            a{
                                                &:before{
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                    &.active{
                                        display: block !important;
                                        height: 100%;
                                    }
                                    ul{
                                        position: static;
                                        display: none;
                                        li{
                                            a{
                                                padding: 10px 40px;
                                                &:before{
                                                    display: none;
                                                }
                                            }
                                        }
                                        &.active{
                                            display: block !important;
                                            height: 100%;
                                        }
                                    }
                                }
                                &:hover{
                                    color: #fff;
                                    a{
                                        &:before{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .slider{
                .slideshow{
                    &:before{
                        display: none;
                    }
                    .image-slide{
                        height: 70vh;
                    }
                }
            }
            .home-store {
                padding:0px 0px 150px;
                margin-bottom: 50px;
                .home-store-heading {
                    height:525px;
                }
                .home-store-title {
                    position:absolute;
                    width:525px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    font-size:3.5rem;
                    letter-spacing:1rem;
                    top:-3.5rem;
                    right:0;
                    margin:0;
                    text-align:right;
                    transform: rotate(-90deg);
                    transform-origin: bottom right;
                    &:before {
                        top:-20px;
                        left:40px;
                    }
                }
                .home-store-content {
                    width:100%;
                    .home-store-content-item{
                        .item-title {
                            color:#ac825a;
                            font-weight: bold;
                            font-size:2rem;
                        }
                        .item-link {
                            padding:15px 30px;
                            letter-spacing: .5rem;
                            font-weight:bold;
                        }
                    }
                }
                .home-store-image {
                    position:absolute;
                    top:auto;
                    bottom: 30px;
                    right:-30px;
                    width:684px;
                    height:525px;
                    .frame {
                        clip-path: url(#frame-clip-path);
                    }
                }
                .home-store-dots {
                    position:absolute;
                    bottom:40px;
                    left:auto;
                    right: 20px;
                    z-index:4;
                    transform:translateX(-50%);
                }
            }
            .our-menu{
                h1.title{
                    width: 400px;
                    left: calc(50% + 10px);
                    top: -30px;
                }
                .tab-pane{
                    .menu-slide{
                        .row{
                            .text{
                                .description{
                                    padding: 70px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .home-store {
        padding:0px 0px 150px;
        .home-store-heading {
            height:525px;
        }
        .home-store-title {
            position:absolute;
            width:525px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size:3.5rem;
            letter-spacing:1rem;
            top:-3.5rem;
            right:0;
            margin:0;
            text-align:right;
            transform: rotate(-90deg);
            transform-origin: bottom right;
            &:before{
                top:-20px;
                left:40px;
            }
        }
        .home-store-content {
            width:100%;
            .home-store-content-item{ 
                .item-title {
                    color:#ac825a;
                    font-weight: bold;
                    font-size:2rem;
                }
                .item-link {
                    padding:15px 30px;
                    letter-spacing: .5rem;
                    font-weight:bold;
                }
            }
        }
        .home-store-image {
            position:absolute;
            top:100px;
            right:-50px;
            width:684px;
            height:525px;
            .frame {
                clip-path: url(#frame-clip-path);
            }
        }
        .home-store-dots {
            position:absolute;
            bottom:35px;
            left:50%;
            z-index:4;
            transform:translateX(-50%);
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .home-store {
        padding:0px 0px 150px;
        .home-store-heading {
            height:525px;
        }
        .home-store-title {
            position:absolute;
            width:525px;
            font-family: 'Montserrat', sans-serif;
            font-weight: bold;
            font-size:3.5rem;
            letter-spacing:1rem;
            top:-3.5rem;
            right:0;
            margin:0;
            text-align:right;
            transform: rotate(-90deg);
            transform-origin: bottom right;
            &:before{
                top:-20px;
                left:40px;
            }
        }
        .home-store-content {
            width:100%;
            .home-store-content-item{ 
                .item-title {
                    color:#ac825a;
                    font-weight: bold;
                    font-size:2rem;
                }
                .item-link {
                    padding:15px 30px;
                    letter-spacing: .5rem;
                    font-weight:bold;
                }
            }
        }
        .home-store-image {
            position:absolute;
            top:50px;
            right:0;
            width:684px;
            height:525px;
            .frame {
                clip-path: url(#frame-clip-path);
            }
        }
        .home-store-dots {
            position:absolute;
            bottom:35px;
            left:50%;
            z-index:4;
            transform:translateX(-50%);
        }
    }
}