
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    body{
        main{
            header{
                .col-menu{
                    .logo{
                        width: 70px;
                    }
                    .menu{
                        width: 0;
                        height: 100vh;
                        position: fixed;
                        top: 0;
                        right: 0;
                        background: #000;
                        transition: width 1s;
                        transition-delay: .5s;
                        padding-top: 100px;
                        &:before{
                            content: '';
                            position: absolute;
                            right: 100%;
                            top: 0;
                            background: rgba(#fff,.9);
                            width: 0;
                            height: 100%;
                            transition: .5s;
                        }
                        ul{
                            li{
                                color: #fff;
                                float: none;
                                text-align: left;
                                letter-spacing: 1px;
                                a{
                                    padding: 10px 40px 10px 30px;
                                }
                                &.active{
                                    a{
                                        &:before{
                                            display: none;
                                        }
                                    }
                                }
                                ul{
                                    position: static;
                                    display: none;
                                    li{
                                        a{
                                            padding: 10px 40px;
                                            &:before{
                                                display: none;
                                            }
                                        }
                                        &.child{
                                            &:before{
                                                display: none;
                                            }
                                        }
                                        &:hover{
                                            background: #000;
                                            color: #fff;
                                            a{
                                                &:before{
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                    &.active{
                                        display: block !important;
                                        height: 100%;
                                    }
                                    ul{
                                        position: static;
                                        display: none;
                                        li{
                                            a{
                                                padding: 10px 40px;
                                                &:before{
                                                    display: none;
                                                }
                                            }
                                        }
                                        &.active{
                                            display: block !important;
                                            height: 100%;
                                        }
                                    }
                                }
                                &:hover{
                                    color: #fff;
                                    a{
                                        &:before{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            footer{
                .app-download{
                    margin: 30px 0;
                }
                .mid-info{
                    .copyright{
                        font-size: 13px;
                    }
                }
            }
            section.pre-header{
                height: 50vh;
                &:after{
                    display: none;
                }
                .container{
                    h1.title{
                        font-size: 42px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        main{
            header{
                .col-menu{
                    .logo{
                        width: 70px;
                    }
                    .menu{
                        width: 0;
                        height: 100vh;
                        position: fixed;
                        top: 0;
                        right: 0;
                        background: #000;
                        transition: width 1s;
                        transition-delay: .5s;
                        padding-top: 100px;
                        &:before{
                            content: '';
                            position: absolute;
                            right: 100%;
                            top: 0;
                            background: rgba(#fff,.9);
                            width: 0;
                            height: 100%;
                            transition: .5s;
                        }
                        ul{
                            li{
                                color: #fff;
                                float: none;
                                text-align: left;
                                letter-spacing: 1px;
                                a{
                                    padding: 10px 40px 10px 30px;
                                }
                                &.active{
                                    a{
                                        &:before{
                                            display: none;
                                        }
                                    }
                                }
                                ul{
                                    position: static;
                                    display: none;
                                    li{
                                        a{
                                            padding: 10px 40px;
                                            &:before{
                                                display: none;
                                            }
                                        }
                                        &.child{
                                            &:before{
                                                display: none;
                                            }
                                        }
                                        &:hover{
                                            background: #000;
                                            color: #fff;
                                            a{
                                                &:before{
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                    &.active{
                                        display: block !important;
                                        height: 100%;
                                    }
                                    ul{
                                        position: static;
                                        display: none;
                                        li{
                                            a{
                                                padding: 10px 40px;
                                                &:before{
                                                    display: none;
                                                }
                                            }
                                        }
                                        &.active{
                                            display: block !important;
                                            height: 100%;
                                        }
                                    }
                                }
                                &:hover{
                                    color: #fff;
                                    a{
                                        &:before{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.active-head{
                    .col-menu{
                        .logo{
                            z-index: -1;
                        }
                        .menu{
                            width: 50%;
                        }
                    }
                }
            }
            footer{
                .left-info{
                    ul{
                        li{
                            text-align: center;
                            a{
                                font-size: 10px;
                                i{
                                    display: block;
                                }
                            }
                        }
                    }
                }
                .app-download{
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
                .mid-info{
                    .copyright{
                        font-size: 10px;
                    }
                }
            }
            section.pre-header{
                height: 50vh;
                &:after{
                    display: none;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    body{
        main{
            header{
                .col-menu{
                    .logo{
                        width: 70px;
                    }
                    .menu{
                        width: 0;
                        height: 100vh;
                        position: fixed;
                        top: 0;
                        right: 0;
                        background: #000;
                        transition: width 1s;
                        transition-delay: .5s;
                        padding-top: 100px;
                        &:before{
                            content: '';
                            position: absolute;
                            right: 100%;
                            top: 0;
                            background: rgba(#fff,.9);
                            width: 0;
                            height: 100%;
                            transition: .5s;
                        }
                        ul{
                            li{
                                color: #fff;
                                float: none;
                                text-align: left;
                                letter-spacing: 1px;
                                a{
                                    padding: 10px 40px 10px 30px;
                                }
                                &.active{
                                    a{
                                        &:before{
                                            display: none;
                                        }
                                    }
                                }
                                ul{
                                    position: static;
                                    display: none;
                                    li{
                                        a{
                                            padding: 10px 40px;
                                            &:before{
                                                display: none;
                                            }
                                        }
                                        &.child{
                                            &:before{
                                                display: none;
                                            }
                                        }
                                        &:hover{
                                            background: #000;
                                            color: #fff;
                                            a{
                                                &:before{
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                    &.active{
                                        display: block !important;
                                        height: 100%;
                                    }
                                    ul{
                                        position: static;
                                        display: none;
                                        li{
                                            a{
                                                padding: 10px 40px;
                                                &:before{
                                                    display: none;
                                                }
                                            }
                                        }
                                        &.active{
                                            display: block !important;
                                            height: 100%;
                                        }
                                    }
                                }
                                &:hover{
                                    color: #fff;
                                    a{
                                        &:before{
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.active-head{
                    .col-menu{
                        .menu{
                            width: 50%;
                        }
                    }
                }
            }
            footer{
                .left-info{
                    ul{
                        li{
                            text-align: center;
                            a{
                                font-size: 13px;
                                i{
                                    display: block;
                                }
                            }
                        }
                    }
                }
                .app-download{
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
                .mid-info{
                    .copyright{
                        font-size: 13px;
                    }
                }
            }
            section.pre-header{
                &:after{
                    display: none;
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}