.store-1{
	padding: 60px 0;
	background: url('../../images/bg-curves.svg') no-repeat;
	background-position: center center;
	background-size: cover;
	h1.title{
		padding-left: calc(20% + 15px);
		position: relative;
		text-transform: uppercase;
		font-size: 28px;
		font-weight: 700;
		line-height: 28px;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform:translateY(-50%);
			width: 20%;
			height: 50%;
			background: #AE9D7F;
		}
	}
	.select-place{
		select{
			border:none;
			background: transparent;
			outline: none;
			border-bottom: 1px solid #cecece;
			text-transform: uppercase;
			padding-bottom: 5px;
			color: #5a5a5a;
			width: 100%;
			max-width: 180px;
		}
	}
}

.store-2{
	padding: 60px 0;
	background: url('../../images/tembok.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	.content{
		box-shadow: 0px 0px 3px 0px rgba(97,97,97,1);
		margin-bottom: 30px;
		display: block;
		.image-store{
			width: 100%;
			padding-top: 100%;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
		}
		.title{
			background: #AC8C65;
			h2.title{
				font-size: 13px;
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				padding: 15px;
			}
		}
		&:hover{
			.title{
				background: #DFCFB5;
				h2.title{
					color: #000;
					font-weight: 700;
				}
			}
		}
	}
	.btn-custom{
		background: #DFCFB5;
		padding: 10px 30px;
		text-transform: uppercase;
		border-radius:0;
		font-weight: bold;
		letter-spacing: 2px;
		&:hover{
			background: #debf8e;
		}
	}
}

.store-detail{
	padding: 60px 0;
	background: url('../../images/bg-curves.svg') no-repeat;
	background-position: bottom left;
	background-size: cover;
	.title{
		margin: 20px 0;
		padding-bottom: 15px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 50%;
			height: 8px;
			background: #AB9F7D;
		}
		h2{
			font-weight: bold;
			text-transform: uppercase;
			font-size: 22px;
		}
		h3{
			font-size: 18px;
		}
	}
	.address,.telp,.open-store{
		padding: 15px 0;
		h2{
			font-weight: bold;
			font-size: 18px;
			text-transform: uppercase;
		}
		h3{
			font-size: 16px;
		}
	}
	ul.store-slide{
		list-style: none;
		padding:0;
		margin:0;
		.owl-nav{
			position: absolute;
			bottom: 0;
			left: 50%;
			transform:translateX(-50%);
			margin:0;
			.owl-prev,.owl-next{
				outline: none;
				font-size: 26px;
				color: #a9a9a9;
				margin:0;
				border-radius: 0;
				position: relative;
				span{
					padding: 0 30px;
				}
				&:hover{
					background: none;
					color: #fff;
				}
				&:nth-child(1){
					&:before{
						content: '';
						position: absolute;
						top: 55%;
						right: 0;
						width: 1px;
						height: 40%;
						background: #a9a9a9;
						transform:translateY(-50%);
					}
				}
			}
		}
	}
	.map{
		padding: 60px 0;
	}
}